.main-card{
    background-color: #8a1717;
    width: 90%;
    max-width: 500px;
    height: auto;
    min-height: 680px;
    margin: 20px auto;
    border: 0px solid #888888;
    border-radius: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.card-img{
    width: 90%;
    max-width: 450px;
    height: auto;
    aspect-ratio: 1/1;
    display: block;
    margin: auto;
    padding: 10px 0;
    object-fit: contain;
}
.type{
    width: 95%;
    height: auto;
    min-height: 120px;
    background-color:#b10505 ;
    margin: 10px auto;
    border: 0px solid #888888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    box-sizing: border-box;
}
.stats-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto 0;
    gap: 10px;
}
.left-card, .right-card{
    width: 48%;
    background-color:#b10505 ;
    border: 0px solid #888888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.text-card{
    color:#FFFFFF;
    text-align: center;
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-card-data{
    background-color:#D9D9D9;
    color:#000000;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .main-card {
        min-height: auto;
    }
    .left-card, .right-card {
        height: 100px;
    }
    .text-card {
        font-size: 18px;
        padding-top: 5px;
        margin-bottom: 5px;
    }
    .text-card-data {
        font-size: 16px;
        padding: 25px 0;
    }
}