.favoritesPageBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainContainer {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    justify-content: center;
    flex: 1;
}
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.loginWarning {
    width: fit-content;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.8rem;
    color: red;
    padding: 4rem 6rem;
    border-radius: 20px;
    background-color: var(--secondary-color);
}