.abc{
 width: 100%;
 background-color: #f5f5f5;
}
.def{
    padding-left: 30px;
    padding-top: 30px;
    width: 129%;
}
@media (max-width: 768px) {
    body.pokemon-page {
        transform: scale(0.20);
        transform-origin: top left;
        width: 400%;
    }
}