.abc{
 width: 100%;
 background-color: #f5f5f5;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
.def{
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .def {
        padding: 10px;
    }
}