body {
    background-color: #f5f5f5;
}

.pokemonOfTheDaySection {
    background-color: #f8f9fa;
    width: 30%;
    height: 70vh;
    margin-left: 20px;
    border-radius: 20px;
}
.pokemonOfTheDayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
}
.pokemonPicture {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemonOfTheDayInfo {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemonName {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pokemonType {
    font-size: 20px;
    margin-bottom: 10px;
}
.pokemonDescription {
    font-size: 16px;
    text-align: center;
}