.pokemonOfTheDaySection {
    background-color: #f8f9fa;
    width: 30%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.pokemonOfTheDaySection:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
    .pokemonOfTheDaySection {
        width: 100%;
        margin-left: 0;
    }
}

.pokemonOfTheDayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
}
.pokemonPicture {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemonOfTheDayInfo {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemonName {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
.pokemonType {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
.pokemonDescription {
    font-size: 16px;
    text-align: center;
    color: black;
}
.potdSectionTitle {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 38px;
    font-weight: bold;
    color: #333;
}