.randomPokemonsSection {
    background-color: #f8f9fa;
    width: 70%;
    border-radius: 20px;
    text-align: center;
}
.positioningPokemons {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.YourChoice{
    font-size: 38px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #333;
}

@media (max-width: 900px) {
    .randomPokemonsSection {
        width: 100%;
    }
    .positioningPokemons {
        gap: 10px;
        padding-bottom: 20px;
    }
    .YourChoice {
        font-size: 24px;
        padding: 15px 0;
    }
}