.randomPokemonsSection {
    background-color: #f8f9fa;
    width: 70%;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}