.randomPokemonsSection {
    background-color: #f8f9fa;
    width: 70%;
    border-radius: 20px;
    text-align: center;
}
.positioningPokemons {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.YourChoice{
    font-size: 38px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #333;
}