.main {
    background-color: #f8f9fa;
    margin: auto;
    width: 1840px;
    height: 770px;

    display: flex;
    flex-direction: column;
    border: 1px solid #888888;
    border-radius: 20px;
    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
    cursor: pointer;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex: 1;
    padding-top:20px;
}

.left {
    width: 1300px;
    height: 655px;
    background-color: #b33535;
    margin-left: 30px;
    padding-top:60px;
    border: 0px solid #888888;
    border-radius: 20px;
}

.right {
    width: 450px;
    height: 715px;
    background-color: #b33535;
    border: 0px solid #888888;
    border-radius: 20px;
}

.h1Fix h1 {
    color:#000000;
}
.h1Fix{
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -60px;
}

p {
    color: #000000;
    font-size: 24px;
    padding: 20px;
}

h3 {
    color: #000000;
    padding: 20px;
}

