.mainPageBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainContainer {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    justify-content: center;
    flex: 1;
}
.sectionsContainer {
    display: flex;
    width: 75%;
}
.randomPokemonsContainer {
    margin: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    body.main-page {
        transform: scale(0.25);
        transform-origin: top left;
        width: 400%;
    }
}