.mainPageBody {
    width: 100%;
    min-height: 100vh;
}
.mainContainer {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    justify-content: center;
}
.sectionsContainer {
    display: flex;
    width: 75%;
}
.randomPokemonsContainer {
    margin: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
