body {
    background-color: #f5f5f5;
}
.mainContainer {
    display: flex;
    width: 100%;
    background-color: #EEEEEE;
    justify-content: center;
}
.sectionsContainer {
    display: flex;
    width: 75%;
}