.pokemonCard {
  width: 40%;
  border: 1px solid #888888;
  border-radius: 20px;
  transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.pokemonCard:hover {
  transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    background-color: #fdfdfd;
}
.pokemonImageContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}
.pokemonImage{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.pokemonInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
}
.pokemonName{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pokemonTypes{
  font-size: 18px;
  margin-bottom: 10px;
}