.pokemonCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  flex-direction: column;
}
.pokemonImageContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonImage{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.pokemonInfoContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}