body {
    background-color: #f5f5f5;
}
.searchBar {
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 280px;
    margin-right: 20px;
}
.searchSymbol {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}
.search-input{
    border: none;
    outline: none;
    font-size: 16px;
}