.main-evo {
    width: 100%;
    max-width: 1250px;
    min-height: 400px;
    height: auto;
    margin: 20px auto;

    border: 10px solid;  
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;        
    box-sizing: border-box; 
    background-color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.evo-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 40px;
    flex-wrap: nowrap;
}

.evo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
}

.evo-item {
    text-align: center;
}

.evo-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.arrow svg {
    opacity: 0.8;
    transition: transform 0.2s ease;
}

.arrow svg:hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .main-evo {
        margin-left: 0;
        border-width: 5px;
        padding: 10px;
        min-height: auto;
    }

    .evo-row {
        gap: 20px;
        flex-direction: column;
        margin: 20px;
    }

    .evo-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .evo-item img {
        max-width: 150px;
    }

    .arrow {
        transform: rotate(90deg);
    }
}

@media (max-width: 600px) {
    .main-evo {
        min-height: auto;
        padding: 5px;
        border-width: 5px;
        width: 90%;
        margin: 10px auto;
    }
    .evo-item img {
        max-width: 100px;
    }
    .arrow svg {
        width: 30px;
        height: 30px;
    }
}
