.mainContainer {
    display: flex;
    width: 100%;
    background-color: #ff0000;
    justify-content: center;
}
.sectionsContainer {
    display: flex;
    width: 75%;
}

.randomPokemonsSection {
    background-color: #ffffff;
    width: 70%;
    height: 70vh;
    border-radius: 20px;
}
.pokemonOfTheDaySection {
    background-color: #ffffff;
    width: 30%;
    height: 70vh;
    margin-left: 20px;
    border-radius: 20px;
}